<h1>Comment List</h1>
<div>

    {{#each commentList}}
    <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>{{this.patientName}}</span>
        </div>
        <div class="commentRight">
            <div>
                <span>{{this.type}}: {{this.value}} {{this.unit}}</span>
                <span>Normal Range: {{this.lower_bound}}-{{this.upper_bound}}{{this.unit}}</span>
                <span>{{this.timeStamp}}</span>
            </div>
            <p>{{this.comment}}</p>
        </div>
    </div>
    {{/each}}


</div>