<h1>Comment List</h1>
<div class="commentSearch">
    <form action="/clinician/search" method="post">
        <input type="text" placeholder="Patient Name" name="patientName">
        <button type="submit"><img src="/search_icon.png" alt="search"></img></button>
    </form>
</div>

<div>
    {{#each commentList}}
    <div class="commentLine">
        {{#ifChecked this.new}}
        <img class="readComment" src="/readComment.png" alt="">
        {{/ifChecked}}
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span><a href = '/clinician/individualData/{{this.patient_id}}'>{{this.patientName}}</a></span>
        </div>

        <div class="commentRight">
            <div>
                {{!-- <span class="commentData" style="color: 
                {{#ifAboveRange this.value this.upper_bound}}
                #FF3F3F
                {{else}}
                    {{#ifBelowRange this.value this.lower_bound}}
                        #747373
                    {{/ifBelowRange}}
                {{/ifAboveRange}}
                ;"> --}}
                
                {{#ifAboveRange this.value this.upper_bound}}
                    <span class="commentUpper">{{this.type}}: {{this.value}} {{this.unit}}</span>
                {{else}}
                    {{#ifBelowRange this.value this.lower_bound}}
                        <span class="commentLower">{{this.type}}: {{this.value}} {{this.unit}}</span>
                    {{else}}
                        <span class="commentData">{{this.type}}: {{this.value}} {{this.unit}}</span>
                    {{/ifBelowRange}}
                {{/ifAboveRange}}
                    {{!-- {{this.type}}: {{this.value}} {{this.unit}}</span> --}}
                <span>Normal Range: {{this.lower_bound}}-{{this.upper_bound}} {{this.unit}}</span>
                <span>{{this.timeStamp}}</span>
            </div>
            <p>{{this.comment}}</p>
        </div>
    </div>
    {{/each}}
</div>




        {{!-- <div class="commentRight">
            <div>
                <span class="commentLower">Weight:107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>

    </div>
    <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>{{this.patientName}}</span>
        </div>
        <div class="commentRight">
            <div>
                <span class="commentUpper">Weight:107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div> --}}