<div class ="SupportMessage">
    <p>{{patient.support_message}}</p>      <!-- 要改成SupportMessage-->
    <p>——&nbsp;Doctor {{clinician.last_name}}</p>
</div>
<p class="homeSubtitle">My Plans</p>
<div class="homeTop">
    {{!-- render todat's blood glucose --}}
    {{#ifNotRequired today.data.glucose.status}}
    {{else}}
    {{#ifNotRecorded today.data.glucose.status}}
    <div class="addbutton">
        <a href='/patient/addData/glucose/{{patient._id}}'>
        <img class="add" src="/addbutton.png" alt="Blood Glucose"></a>
        <span>Blood Glucose<img class="iconpng" src="/blood_glucose.png" alt="bloodpng"></span>
    </div>
    {{else}}
    <div class = "addbutton">
        <img class="recorded" src="/recordedBlood.png" alt="Blood Glucose">
        <p>Blood Glucose: <br>{{today.data.glucose.value}}&nbsp;nmol/L</p>
        <p class="time">{{today.data.glucose.date}}</p>
    </div>
    {{/ifNotRecorded}}
    {{/ifNotRequired}}

    {{!-- Render today's weight--}}
    {{#ifNotRequired today.data.weight.status}}
    {{else}}
    {{#ifNotRecorded today.data.weight.status}}
    <div class = "addbutton">
        <a href='/patient/addData/weight/{{patient._id}}'>
        <img class="add" src="/addbutton.png" alt="Weight"></a>
        <span>Weight&nbsp;<img class="iconpng" src="/weightscale.png" alt="weightpng"></span>
    </div>
    {{else}}
    <div class = "addbutton">
        <img class="recorded" src="/recordedWeight.png" alt="Weight">
        <p>Weight: <br>{{today.data.weight.value}}&nbsp;Kg</p>
        <p class="time">{{today.data.weight.date}}</p>
    </div>  
    {{/ifNotRecorded}}
    {{/ifNotRequired}}

    {{!-- Render today's exercise--}}
    {{#ifNotRequired today.data.exercise.status}}
    {{else}}
    {{#ifNotRecorded today.data.exercise.status}}
    <div class = "addbutton">
        <a href='/patient/addData/exercise/{{patient._id}}'>
        <img class="add" src="/addbutton.png" alt="Exercise"></a>
        <span>Exercise&nbsp;<img class="iconpng" src="/recordedRunning.png" alt="exercisepng"></span>
    </div>
    {{else}}
    <div class = "addbutton">
        <img class="recorded" src="/recordedRunning.png" alt="Exercise">
        <p>Exercise: <br>{{today.data.exercise.value}}&nbsp;Steps</p>
        <p class="time">{{today.data.exercise.date}}</p>
    </div>
    {{/ifNotRecorded}}
    {{/ifNotRequired}}
    
    {{!-- Render today's insulin--}}
    {{#ifNotRequired today.data.insulin.status}}
    {{else}}
    {{#ifNotRecorded today.data.insulin.status}}
    <div class = "addbutton">
        <a href='/patient/addData/insulin/{{patient._id}}'>
        <img class="add" src="/addbutton.png" alt="Insulin"></a>
        <span>Insulin&nbsp;<img class="iconpng" src="/doses.png" alt="insulpng"></span>
    </div>
    {{else}}
    <div class="addbutton" >
         <img class="recorded" src="/recordedDoses.png" alt="Weight">
         <p>Dose of Insulin Taken: <br>{{today.data.insulin.value}}&nbsp;Doses</p>
         <p class="time">{{today.data.insulin.date}}</p>
    </div>
    {{/ifNotRecorded}}
    {{/ifNotRequired}}
</div>