<h1>Daily detail data</h1>
<div class="dataContainer">
{{#ifNotRequired record.data.glucose.status}}
{{else}}
    {{#ifNotRecorded record.data.glucose.status}}
    <div class="dataDatail">
        <p class="dataType">Blood Glucose Level</p>
        <div class="dataBox">
        <p>Not Recorded</p>
        </div>
    </div>
    {{else}}
    <div class="dataDatail">
        <p class="dataType">Blood Glucose Level</p>
        <div class="dataBox">
            <p class="dataNumber">{{record.data.glucose.value}}&nbsp;<span>nmol/L</span></p>
            <p>{{record.data.glucose.comment}}</p>
            <p>{{record.data.glucose.date}}</p>
        </div>
    </div>
    {{/ifNotRecorded}}
{{/ifNotRequired}}

{{#ifNotRequired record.data.weight.status}}
{{else}}
    {{#ifNotRecorded record.data.weight.status}}
    <div class="dataDatail">
        <p class="dataType">Weight</p>
        <div class="dataBox">
        <p>Not Recorded</p>
        </div>
    </div>
    {{else}}
    <div class="dataDatail">
        <p class="dataType">Weight</p>
        <div class="dataBox">
            <p class="dataNumber">{{record.data.weight.value}}&nbsp;<span>Kg</span></p>
            <p>{{record.data.weight.comment}}</p>
            <p>{{record.data.weight.date}}</p>
        </div>
    </div>
    {{/ifNotRecorded}}
{{/ifNotRequired}}

{{#ifNotRequired record.data.exercise.status}}
{{else}}
    {{#ifNotRecorded record.data.exercise.status}}
    <div class="dataDatail">
        <p class="dataType">Exercise</p>
        <div class="dataBox">
        <p>Not Recorded</p>
        </div>
    </div>
    {{else}}
    <div class="dataDatail">
        <p class="dataType">Exercise</p>
        <div class="dataBox">
            <p class="dataNumber">{{record.data.exercise.value}}&nbsp;<span>Steps</span></p>
            <p>{{record.data.exercise.comment}}</p>
            <p>{{record.data.exercise.date}}</p>
        </div>
    </div>
    {{/ifNotRecorded}}
{{/ifNotRequired}}

{{#ifNotRequired record.data.insulin.status}}
{{else}}
    {{#ifNotRecorded record.data.insulin.status}}
    <div class="dataDatail">
        <p class="dataType">Doses of Insulin Taken</p>
        <div class="dataBox">
        <p>Not Recorded</p>
        </div>
    </div>
    {{else}}
    <div class="dataDatail">
        <p class="dataType">Doses of Insulin Taken</p>
        <div class="dataBox">
            <p class="dataNumber">{{record.data.insulin.value}}&nbsp;<span>Doses</span></p>
            <p>{{record.data.insulin.comment}}</p>
            <p>{{record.data.insulin.date}}</p>
        </div>
    </div>
    {{/ifNotRecorded}}
{{/ifNotRequired}}
</div>