<h1>Motivation</h1>
<div class="motiContainer">
    <div class="selfRank">
        <p class="rank">Your Rank:&nbsp;{{rank}}</p>
        <img class="motiPhoto" src="/Photo_Pat.png" alt="{{thisPatient.screen_name}}">
        <p>{{thisPatient.screen_name}}</p>
        <p>Participation:&nbsp;{{thisPatient.engagement}}%</p>
        {{#ifreach80 thisPatient.engagement}}
        <img class="badge" src="/badge.png" alt="badge">
        {{else}}
        <img class="badge" src="/grey_badge.png" alt="badge">
        {{/ifreach80}}
        <button class="badgeAlert" name="badgeInfo"
            onClick="alert('You will get the badge on the left side if your overall engagement rate since you started using the app is more than 80%.')"><img
                class="badgeInfo" src="/badge_info.png" alt=""></button>
    </div>
    <div class="leaderboard">
        <div class="firstLine">
            <img class="crown" src="/crown.png" alt="">
            <img class="numberOne" src="/Photo_Pat.png" alt="">
            <span class="ranking">1</span>
        </div>
        <div class="secondLine">
            <img class="lineTwo_pic" src="/Photo_Pat.png" alt="">
            <img class="lineTwo_pic" src="/Photo_Pat.png" alt="">
        </div>
        <div class="thirdLine">
            <span class="ranking">2</span>
            <span class="ranking">3</span>
        </div>
        <div class="board">
            <div class="boardLine">
                <span class="boardRank">1</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">{{first.screen_name}}</span>
                <span>{{first.engagement}}%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">2</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">{{second.screen_name}}</span>
                <span>{{second.engagement}}%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">3</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">{{third.screen_name}}</span>
                <span>{{third.engagement}}%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">4</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">{{fourth.screen_name}}</span>
                <span>{{fourth.engagement}}%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">5</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">{{fifth.screen_name}}</span>
                <span>{{fifth.engagement}}%</span>
            </div>
    </div>
</div>