{{#ifglucose type}}
<h1>Blood Glucose Level</h1>
<form action="/patient/addData/{{type}}/{{patient._id}}" method="post">
    <div class ="dataInput">
        <input type="number" step="0.01" id="addData" name="addData" placeholder="0.00"><span>nmol/L</span>
        <textarea type="text" id="addComment" name="addComment" placeholder="Please Leave Your Comment"></textarea>
    </div>
{{/ifglucose}}    
{{#ifweight type}}
<h1>Weight</h1>
<form action="/patient/addData/{{type}}/{{patient._id}}" method="post">
    <div class ="dataInput">
        <input type="number" step="0.01" id="addData" name="addData" placeholder="0.00"><span>kg</span>
        <textarea type="text" id="addComment" name="addComment" placeholder="Please Leave Your Comment"></textarea>
    </div>
{{/ifweight}}  
{{#ifexercise type}}
<h1>Exercise</h1>
<form action="/patient/addData/{{type}}/{{patient._id}}" method="post">
    <div class ="dataInput">
        <input type="number" id="addData" name="addData" placeholder="0"><span>Steps</span>
        <textarea type="text" id="addComment" name="addComment" placeholder="Please Leave Your Comment"></textarea>
    </div>
{{/ifexercise}}        
{{#ifinsulin type}}
<h1>Doses of Insulin Taken Today</h1>
<form action="/patient/addData/{{type}}/{{patient._id}}" method="post">
    <div class ="dataInput">
        <input type="number"id="addData" name="addData" placeholder="0"><span>doses</span>
        <textarea type="text" id="addComment" name="addComment" placeholder="Please Leave Your Comment"></textarea>
    </div>
{{/ifinsulin}} 
    <button class="saveButton" name="popBox" type="submit" onclick="alert('You have successfully svaed the data')">Save</button>
</form>

